.idea/
snap/*.snap
snap/*.snapshot
CMakeCache.txt
CMakeFiles/3.5.1/
CMakeFiles/CMakeTmp/
CMakeFiles/lmcomp.dir/snapshot.cpp.o
CMakeFiles/progress/
CMakeFiles/snapshot.dir/
cmake-build-debug/CMakeFiles/CMakeTmp/
CMakeFiles/progress (Case Conflict)/